.dashboard--container {
    border: 1px solid #D7D7D7;
    border-radius: 8px;
    padding: 1em;
    /* height: calc(100dvh - 6em); */

    display: grid;
    /* gap: 0.5em; */
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-template-rows: auto;
    /* place-items: center; */
}

.demo-data {
    line-height: 1.5;
    font-size: 2.5vh;
    /* width: 25%; */
    /* border-bottom: 1px solid #426C2A; */
}

.demo-data p {
    font-size: 1.75rem;
    text-align: center;
    background-color: #426C2A;
    color: #fff;
    border-radius: 0.5em 0.5em 0 0;
}

.demo-data table {
    width: 100%;
}

.demo-data table tr td:not(:first-child) {
    text-align: end;
}